.App-result {
  display: flex;
  width: 100%;
  height: 20%;
  justify-content: flex-end;
  align-items: center;
  font-size: 24px;
  padding: 10px;
  color: #000;
  overflow: hidden;
  margin-bottom: 15px;
  border-radius: 5px;
  background-color: #fff;
}

.App-container-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 244px;
  width: 100%;
  height: 80%;
  gap: 10px;
}
