*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  width: 275px;
  height: max-content;
  flex-direction: column;
  background-color: #0f2c2c;
  border-radius: 10px;
  padding: 20px 10px;
  box-shadow: 0 14px 28px #00000040, 0 10px 10px #00000038;
}