.App-btn {
  width: 30%;
  border-radius: 15px;
  border: 1px solid #000;
  box-shadow: 0px 0px 30px #000;
  font-weight: bold;
  font-size: 26px;
  align-items: center;
  cursor: pointer;
  transition-timing-function: ease;
  transition-duration: .5s;
}

.App-btn:hover {
  background-color: #5398e7;
}

.App-btn:active {
  background-color: #59aaf7;
  color: #fff;
}

.App-btn__ops {
  background-color: #ffe4c4;
}

.App-btn__list-of-numbers {
  background-color: #7fffd4;
}